body {
  margin:auto;
  padding:0;
  min-height: 100vh;
  background: linear-gradient(#6490FF,#4567F1);
  background: #0e68b2;
background: -moz-linear-gradient(-36deg,  #0e68b2 0%, #4d8fd1 100%);
background: -webkit-linear-gradient(-36deg,  #0e68b2 0%,#4d8fd1 100%);
background: linear-gradient(135deg,  #0e68b2 0%,#4d8fd1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e68b2', endColorstr='#4d8fd1',GradientType=1 );

}
#dots {
  position:fixed;
  margin:auto;
  left:-50%;
  bottom:0;
  width:150%;
  height:100%;
  overflow:hidden;
}
#dots .d{
  position:absolute;
  margin:auto;
  top:0;
  left:0;
  width:3px;
  height:3px;
  background:#fff;
  border-radius:100%;
  opacity:0.5;
  -webkit-animation:15s moveDots linear infinite;
  -moz-animation:15s moveDots linear infinite;
  animation:15s moveDots linear infinite;
  animation-delay:-1s;
}
@-webkit-keyframes "moveDots" {
  0%{opacity:0;}
  10%{opacity:0.5;}
  90%{opacity:0.5;}
  100%{-webkit-transform:translate3d(500px,50px,0);opacity:0;}
}
@-moz-keyframes moveDots {
  0%{opacity:0;}
  10%{opacity:0.5;}
  90%{opacity:0.5;}
  100%{-moz-transform:translate3d(500px,50px,0);opacity:0;}
}
@keyframes moveDots {
  0%{opacity:0;}
  10%{opacity:0.5;}
  90%{opacity:0.5;}
  100%{transform:translate3d(500px,50px,0);opacity:0;}
}

#main {
  position:fixed;
  margin:auto;
  top:40px;
  left:40px;
  right:40px;
  bottom:40px;
  background:rgba(255,255,255,0.05);
}
#main .topbar {
  position:abolute;
  top:0;
  left:0;
  width:100%;
  height:90px;
  border-bottom:1px solid rgba(255,255,255,0.2);
}
